.d-color {
    color: #3e3e52;
}
.f-bold {
    font-weight: 700;
}
.modify-sec-onward {
    border-bottom: 1px solid #ddd;
    padding: 15px 10px 15px 25px;
}

.w-50 {
    width: 50%;
}

.fl {
    float: left;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.modify-sec .onward, .modify-sec .return {
    padding-top: 5px;
}

.d-block {
    display: inline-block;
}
.fl {
    float: left;
}

.modify-sec .jour-info .h2-tag-seo {
    font-size: 14px;
    display: inline;
}

.modify-sec .icon-right-arrow {
    padding: 0 15px;
}

.modify-sec .icon {
    font-weight: 700;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon!important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

icon-left:before, .icon-right-arrow:before, .icon-right:before {
    vertical-align: middle;
    font-size: 12px;
}

.icon-right-arrow:before {
    content: "\E9FD";
}

.modify-sec .jour-info .prev {
    padding-left: 15px;
}

.modify-sec .icon {
    font-weight: 700;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon!important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-left:before, .icon-right-arrow:before, .icon-right:before {
    vertical-align: middle;
    font-size: 12px;
}

.icon-left:before {
    content: "\E9B4";
}

.modify-sec .jour-info .dateDispOnw {
    position: relative;
}

.modify-sec .searchDate {
    background: none;
    outline: 0 none!important;
    border: 0 none;
    width: 80px;
    vertical-align: middle;
    text-align: center;
}

input {
    line-height: normal;
}

.modify-sec .jour-info .searchday {
    position: absolute;
    width: 56px;
    font-size: 10px;
    top: 18px;
    right: -6px;
}

.modify-sec .jour-info .next, .modify-sec .jour-info .prev {
    cursor: pointer;
}